body { background-color: #ddd; text-align: center; font-family: sans-serif; padding-top: 50px; }
h1 { color: #333; text-transform: uppercase; }
button { padding: 10px 20px; font-size: 16px; cursor: pointer; }